<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Resume - Start Bootstrap Theme</title>
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <%# <link href="css/styles.css" rel="stylesheet" /> %>
    </head>

    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
            <ul>
                <% if user_signed_in?%>
                <li><%= link_to current_user.nickname, "#", class: "user-nickname" %> </li>
                <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %> </li>
                <% else %>
                <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
                <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
                <% end %>
            </ul>
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <span class="d-block d-lg-none">Clarence Taylor</span>
                <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="assets/img/あさひ.jpg" alt="" /></span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#catalog">カタログ</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#purchase">購入画面</a></li>
                    <% if current_user.user_level == 1 %>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">新規商品登録(管理者用)</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">商品入荷(管理者用)</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests">購入者情報</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#awards">Awards</a></li>
                    <% end %>
                </ul>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container-fluid p-0">
            <!-- カタログ-->
            <section class="resume-section-a" id="catalog">
                <div class="archive">
                    <% @top.each do | product | %>
                        <li class='list'>
                            <div class='item-img-content'>
                                <%= image_tag product.image.variant(resize: '250x250'), class: "item-img" %>
                            </div>
                            <div class='item-info'>
                                <h3 class='item-name'>
                                <%= product.items %>
                                </h3>
                                <div class='item-price'>
                                <span><%= product.price %>円</span>
                                </div>
                            </div>
                            <div>
                            在庫<%= product.stock %>個
                            </div>
                            <div class="explain"><%= product.explain %></div>
                        </li>
                    <% end %>
                </div>
            </section>
            <hr class="m-0" />
            <!-- 購入画面-->
            <%= form_with model: @user_payment, url: tops_path, local: true do |f| %>
                <section class="resume-section" id="purchase">
                  <div class="archive">
                    <% @top.each do | top | %>
                        <li class='list'>
                            <div class='item-img-content'>
                                <%= image_tag top.image.variant(resize: '250x250'), class: "item-img" %>
                            </div>
                            <div class='item-info'>
                                <h3 class='item-name'>
                                <%= top.items %>
                                </h3>
                              <div class='item-price', id="item-price<%= top.id %>">
                              <%= top.price %>
                              </div>
                              <span>円</span>
                            </div>
                            <div>
                            在庫<%= top.stock %>個
                            <%= f.number_field :"buy[#{top.id}]", value: 0, min: 0, max: top.stock, id:"Quantity#{top.id}", class:"Quantity"%>個
                            </div>
                        </li>
                    <% end %>
                  </div>
                    <div>配送先</div>
                    <%= f.collection_select(:area_id, Area.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
                    <div>支払い方法</div>
                    <%= f.collection_select(:payment_id, Payment.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
                            <div class="price-content">
                    <div class="price-content">
                      <span>購入金額 </span>
                      <span>
                          <span id='add-tax-price'></span>円
                      </span>
                    </div>
                    <div>
                    注文表
                    </div>
                    <div>
                    <%= f.file_field :image, id:"item-image" %>
                    </div>
                    <%= f.submit "購入する" %>
                </section>
            <% end %>
                <hr class="m-0" />
            <% if current_user.user_level == 1 %>
            <!-- 商品入荷-->
            <%= form_with model: @user_payment, url: tops_path, local: true do |f| %>
                <section class="resume-section" id="education">
                    <div>
                        <div>
                            商品画像
                            <span>必須</span>
                        </div>
                        <div>
                            <p>
                            クリックしてファイルをアップロード
                            </p>
                            <%= f.file_field :image, id:"item-image" %>
                        </div>
                    </div>
                    <div>
                        <div>
                            商品名
                            <span >必須</span>
                        </div>
                        <%= f.text_area :items, placeholder:"商品名（必須 40文字まで)", maxlength:"40" %>
                        <div>
                            <div>
                            商品の説明
                            <span>必須</span>
                            </div>
                            <%= f.text_area :explain,placeholder:"商品の説明（必須 1,000文字まで）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。" ,rows:"7" ,maxlength:"1000" %>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div>
                            商品の価格
                            <span>必須</span>
                            </div>
                            <%= f.text_area :price, class:"items-text", id:"item-name", placeholder:"商品名（必須 40文字まで)", maxlength:"40" %>
                        </div>
                        <div>
                            カテゴリー
                            <span>必須</span>
                        </div>
                        <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
                    </div>
                    <div>
                    <%= f.submit "出品する" %>
                    <%=link_to 'もどる', root_path%>
                    </div>
                </section>
            <% end %>
            <hr class="m-0" />
            <!-- 商品入荷-->
            <section class="resume-section" id="skills">
              <div class="archive">
                <% @top.each do | product | %>
                    <li class='list'>
                    <div class='item-img-content'>
                        <%= image_tag product.image.variant(resize: '250x250'), class: "item-img" %>
                    </div>
                    <div class='item-info'>
                        <h3 class='item-name'>
                        <%= product.items %>
                        </h3>
                    </div>
                    <%= form_with model: product, url: top_path(product.id), local: true do |f| %>
                      <%= f.text_field :stock, placeholder:"例）300", value: 0 %>
                      <%= f.submit "送信" %>
                    <% end %>
                <% end %>
              </div>
            </section>
            <hr class="m-0" />
            <!-- 購入者情報-->
            <section class="resume-section-a" id="interests">
                <div class="archive">
                    <% @buyer.each do | product | %>
                        <li class='list'>
                            <% if product.image.attached? %>
                            <div class='item-img-content'>
                            <%= image_tag product.image.variant(resize: '250x250'), class: "item-img" %>
                            </div>
                            <% end %>
                            <div class='item-info'>
                                <div class='item-name'>
                                <%= product.area.name %>
                                </div>
                                <div class='item-name'>
                                <%= product.total_fee %>円
                                </div>
                                <div class='item-price'>
                                <span><%= product.payment.name %></span>
                                </div>
                            </div>
                            <div>
                            <%= product.user.nickname %>様
                            </div>
                            <div class="explain">
                            <%= simple_format(product.list) %>
                            </div>
                            <% if product.check1 == 1 %>
                                <h6>配送完了済み<h6>
                            <% else %>
                                <div class="explain">
                                <%= form_with model: product, url: top_path(product.id), local: true do |f| %>
                                配送が完了後チェック<%= f.check_box :check1, {class: "check_box"} %>
                                <%= f.submit "送信" %>
                                </div>
                                <% end %>
                            <% end %>
                        </li>
                    <% end %>
                </div>
            </section>
            <!-- Awards-->
            <section class="resume-section" id="awards">
                <div class="resume-section-content">
                    <h2 class="mb-5">Awards & Certifications</h2>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            Google Analytics Certified Developer
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            Mobile Web Specialist - Google Certification
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            1
                            <sup>st</sup>
                            Place - University of Colorado Boulder - Emerging Tech Competition 2009
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            1
                            <sup>st</sup>
                            Place - University of Colorado Boulder - Adobe Creative Jam 2008 (UI Design Category)
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            2
                            <sup>nd</sup>
                            Place - University of Colorado Boulder - Emerging Tech Competition 2008
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            1
                            <sup>st</sup>
                            Place - James Buchanan High School - Hackathon 2006
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            3
                            <sup>rd</sup>
                            Place - James Buchanan High School - Hackathon 2005
                        </li>
                    </ul>
                </div>
            </section>
            <% end %>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- Core theme JS-->
        <%# <script src="js/scripts.js"></script> %>
    </body>
</html>
