<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Resume - Start Bootstrap Theme</title>
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
        <script src="//cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>
        <link href="//cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css" rel="stylesheet" type="text/css">
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <%# <link href="css/styles.css" rel="stylesheet" /> %>
    </head>

    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
            <ul>
                <% if user_signed_in?%>
                <li><%= link_to current_user.nickname, "#", class: "user-nickname" %> </li>
                <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %> </li>
                <% else %>
                <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
                <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
                <% end %>
            </ul>
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="assets/img/image0.png" alt="" /></span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#catalog" data-turbolinks="false">カタログ</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#purchase" data-turbolinks="false">購入画面</a></li>
                    <% if current_user.user_level == 1 %>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education" data-turbolinks="false">新規商品登録(管理者用)</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills" data-turbolinks="false">商品入荷(管理者用)</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests" data-turbolinks="false">購入者情報</a></li>
                    <% end %>
                </ul>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container-fluid p-0">
            <!-- カタログ-->
            <section class="resume-section-a" id="catalog">
                <div class="archive">
                    <% @top.each do | product | %>
                        <li class='list'>
                            <%= link_to top_path(product.id) do %>
                            <div class='item-img-content'>
                                <%= image_tag product.image.variant(resize: '250x250'), class: "item-img" %>
                            </div>
                            <% end %>
                            <div class='item-info'>
                                <h3 class='item-name'>
                                <%= product.items %>
                                </h3>
                                <div class='item-price'>
                                <span><%= product.price %>円</span>
                                </div>
                            </div>
                            <div>
                            在庫<%= product.stock %>個
                            </div>
                            <div class="explain"><%= product.explain %></div>
                        </li>
                    <% end %>
                </div>
            </section>
            <hr class="m-0" />
            <!-- 購入画面-->
            <%= form_with model: @user_payment, url: tops_path, local: true do |f| %>
                <section class="resume-section" id="purchase">
                  <div class="archive">
                    <% i = 1 %>
                    <% @top.each do | top | %>
                        <li class='list'>
                            <div class='item-img-content'>
                                <%= image_tag top.image.variant(resize: '250x250'), class: "item-img" %>
                            </div>
                            <div class='item-info'>
                                <h3 class='item-name'>
                                <%= top.items %>
                                </h3>
                              <div class='item-price', id="item-price<%= i %>">
                              <%= top.price %>
                              </div>
                              <span>円</span>
                            </div>
                            <div>
                            在庫<%= top.stock %>個
                            <%= f.number_field :"buy[#{top.id}]", value: 0, min: 0, max: top.stock, id:"Quantity#{i}", class:"Quantity"%>個
                            </div>
                            <% i += 1 %>
                        </li>
                    <% end %>
                  </div>
                    <div>配送先</div>
                    <%= f.collection_select(:area_id, Area.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
                    <div>支払い方法</div>
                    <%= f.collection_select(:payment_id, Payment.all, :id, :name, {}, {class:"select-box", id:"itemcategory"}) %>
                            <div class="price-content">
                    <div class="price-content">
                      <span>購入金額 </span>
                      <span>
                          <span id='add-tax-price'></span>円
                      </span>
                    </div>
                    <div>
                    注文表
                    </div>
                    <%= f.file_field :image, id:"item-image" %>
                    <div class="archive">
                    <div id="example" class="handsontable"></div>
                    <%= f.submit "購入する" %>
                </section>
            <% end %>
                <hr class="m-0" />
            <% if current_user.user_level == 1 %>
            <!-- 商品入荷-->
            <%= form_with model: @user_payment, url: tops_path, local: true do |f| %>
                <section class="resume-section" id="education">
                    <div>
                        <div>
                            商品画像
                            <span>必須</span>
                        </div>
                        <div>
                            <p>
                            クリックしてファイルをアップロード
                            </p>
                            <%= f.file_field :image, id:"item-images" %>
                        </div>
                    </div>
                    <div>
                        <div>
                            商品名
                            <span >必須</span>
                        </div>
                        <%= f.text_area :items, placeholder:"商品名（必須 40文字まで)", maxlength:"40" %>
                        <div>
                            <div>
                            商品の説明
                            <span>必須</span>
                            </div>
                            <%= f.text_area :explain,placeholder:"商品の説明" ,rows:"7" ,maxlength:"1000" %>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div>
                            商品の価格
                            <span>必須</span>
                            </div>
                            <%= f.text_area :price, class:"items-text", id:"item-name", placeholder:"商品名（必須 40文字まで)", maxlength:"40" %>
                        </div>
                        <div>
                            カテゴリー
                            <span>必須</span>
                        </div>
                        <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"item-category1"}) %>
                    </div>
                    <div>
                    <%= f.submit "出品する", name:"commit1" %>
                    <%=link_to 'もどる', root_path%>
                    </div>
                </section>
            <% end %>
            <hr class="m-0" />
            <!-- 商品入荷-->
            <section class="resume-section" id="skills">
              <div class="archive">
                <% @top.each do | product | %>
                    <li class='list'>
                    <div class='item-img-content'>
                        <%= image_tag product.image.variant(resize: '250x250'), class: "item-img" %>
                    </div>
                    <div class='item-info'>
                        <h3 class='item-name'>
                        <%= product.items %>
                        </h3>
                    </div>
                    <%= form_with model: product, url: top_path(product.id), local: true do |f| %>
                      <%= f.text_field :stock, placeholder:"例）300", value: 0 %>
                      <%= f.submit "送信" %>
                    <% end %>
                <% end %>
              </div>
            </section>
            <hr class="m-0" />
            <!-- 購入者情報-->
            <section class="resume-section-a" id="interests">
                <div class="archive">
                    <% @buyer.each do | product | %>
                        <li class='list'>
                            <% if product.image.attached? %>
                            <div class='item-img-content'>
                            <%= image_tag product.image.variant(resize: '250x250'), class: "item-img" %>
                            </div>
                            <% end %>
                            <div class='item-info'>
                                <div class='item-name'>
                                <%= l product.created_at %>
                                </div>
                                <div class='item-name'>
                                <%= product.area.name %>
                                </div>
                                <div class='item-name'>
                                <%= product.total_fee %>円
                                </div>
                                <div class='item-price'>
                                <span><%= product.payment.name %></span>
                                </div>
                            </div>
                            <h3>
                            <%= product.user.nickname %>様
                            </h3>
                            <div class="explain">
                            <% current_id = product.id %>
                            <% purchase_list = BuyerTop.where("buyer_id = #{current_id}") %>
                                <% purchase_list.each do | buy | %>
                                <% purchase_object = Top.find(buy.top_id) %>
                                <% if buy.tops_quantity != 0 %>
                                <div>
                                <%= purchase_object.items %>、<%= buy.tops_quantity %>個
                                </div>
                                <% end %>
                                <% end %>
                            </div>
                            <% if product.check1 == 1 %>
                                <h6>配送完了済み<h6>
                            <% else %>
                                <div class="explain">
                                <%= form_with model: product, url: top_path(product.id), local: true do |f| %>
                                配送が完了後チェック<%= f.check_box :check1, {class: "check_box"} %>
                                <%= f.submit "送信" %>
                                </div>
                                <% end %>
                            <% end %>
                        </li>
                    <% end %>
                </div>
            </section>
            <% end %>
        </div>
        <!-- Bootstrap core JS-->

    </body>
</html>